<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.siyee.demo">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.siyee.demo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 华为appid -->
        <meta-data
            android:name="com.huawei.push.app_id"
            android:value="appid=********" />

        <!-- vivo appid和appkey -->
        <meta-data
            android:name="com.vivo.push.api_key"
            android:value="**********"/>
        <meta-data
            android:name="com.vivo.push.app_id"
            android:value="**********"/>

    </application>

</manifest>